/out

/Makefile
/config.guess
/config.log
/config.status
/config.sub
/config/
/libtool
/ltmain.sh
.deps/
.dirstamp

#### joe made this: http://goel.io/joe

#####=== Vim ===#####
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

#### joe made this: http://goel.io/joe

#####=== C ===#####

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#### joe made this: http://goel.io/joe

#####=== Autotools ===#####

# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1

