#### joe made this: http://goel.io/joe

#####=== Vim ===#####
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

#### joe made this: http://goel.io/joe

#####=== C ===#####

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Temporal config files
*.in
*.m4
configure
config/
Makefile
stamp-h1
src/.dirstamp
src/.deps
tests/*/.deps
tests/*/.dirstamp
libtool
config.*
autom4te.cache
